<section>
  <h2 class="panel-heading">Sponsored</h2>
  <div class="sidebar-section">
    <h5><span>Your Ad Here</span></h5>
    <img src="{{ site.baseurl }}/assets/images/ad.png" alt="Ad" class="img-fluid rounded shadow-sm">
  </div>
</section>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5534092442005229"
     crossorigin="anonymous"></script>
<!-- bloco-lateral -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5534092442005229"
     data-ad-slot="2298956700"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
